.app {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	flex-flow: column;
	min-height: 100vh;
	font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
}

.main-content {
	max-width: 1140px;
	margin: 0 auto;
}


@media (min-width: 768px) {
	.main-content {
		padding-left: 50px;
		padding-right: 50px;
	}
}