.portfolio {
	padding-top: 101px;
}

.portfolio__title {
	margin: 0;
	color: var(--color-grey8B);
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	padding-bottom: 50px;
	/* 111.111% */
}

.portfolio__item {
	margin: 0 0 20px;
	padding: 0 0 19px;
	border-bottom: 1px solid var(--color-grey42);
	list-style: none;
}

.portfolio__item:last-of-type {
	margin: 0;
	padding: 0;
	border-bottom: none;
}

.portfolio__list {
	margin: 0;
	padding: 0;
}

.portfolio__link {
	color: var(--color-white);
	content: '';
	display: block;
	position: relative;
	text-decoration: none;
	width: 100%;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: 50px;
	/* 166.667% */
	letter-spacing: -1.2px;
}

.portfolio__link::after {
	color: var(--color-white);
	content: '↗';
	position: absolute;
	right: 0;
	top: 0;
	font-size: 30px;
}

.portfolio__link:hover {
	opacity: var(--opacity-links);
	transition: var(--opacity-smoothness);
}

@media (max-width: 768px) {
	.portfolio {
		margin-top: 91px;
		padding: 0 50px 90px;
	}

	.portfolio__item {
		border-bottom: 1px solid var(--color-greyE6);
	}

	.portfolio__link {
		font-size: 28px;
		letter-spacing: -1.12px;
	}
}

@media (max-width: 748px) {
	.portfolio {
		margin: 0;
		padding: 0 14px 70px;
	}

	.portfolio__title {
		font-size: 14px;
	}

	.portfolio__link {
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 28px;
		/* 155.556% */
		letter-spacing: -0.72px;
	}

	.portfolio__link::after {
		font-size: 18px;
	}
}