.movies__content {
	display: flex;
	flex-direction: column;
}


.movies__button {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	background-color: var(--color-grey2F);
	color: var(--color-white);
	border: none;
	height: 36px;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin: 60px 0 80px;
	cursor: pointer;
}

.movies__button:hover {
	opacity: var(--opacity-buttons);
	transition: var(--opacity-smoothness);
}

@media (max-width: 800px) {
	.movies__button {
		margin-left: 30px;
		margin-right: 30px;
	}
}

@media(max-width: 768px) {
	.movies__button {
		margin: 80px 0 80px;
	}
}


@media (max-width: 755px) {
	.movies__button {
		margin-left: 10px;
		margin-right: 10px;
	}
}


@media (max-width: 750px) {
	.movies__button {
		padding: 0 30px 0;
	}
}

@media (max-width: 320px) {
	.movies__button {
		margin: 50px 0 80px;
	}
}