.navtab {
	background-color: var(--color-grey27);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 66px;
}

.navtab__content {
	font-weight: 500;
	margin: 0;
	padding: 0;
}

.navtab__content-list {
	display: flex;
	gap: 40px;
	padding: 24px;
}

.navtab__link {
	color: var(--color-white);
	cursor: pointer;
	font-size: 13px;
	line-height: 16px;
	text-decoration-line: underline;
	transition: 0.3s ease-in-out;
}

.navtab__link:hover {
	opacity: var(--opacity-links);
	transition: var(--opacity-smoothness);
}

@media (max-width: 748px) {
	.navtab__content-list {
		gap: 24px;
	}

	.navtab__link {
		font-size: 11px;
		font-style: normal;
		font-weight: 500;
		line-height: 16px;
		/* 145.455% */
	}

}