.navbar-icon {
	display: flex;
	width: 100px;
	height: 32px;
	cursor: pointer;
	color: var(---color-white);
	border-radius: 40px;
	align-items: center;
	box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
	gap: 7px;
}

.navbar__profile {
	color: var(--color-white);
	text-decoration: none;
}

.navbar__profile:hover {
	opacity: var(--opacity-links);
	transition: var(--opacity-smoothness);
}


.navbar-icon__decription {
	font-size: 13px;
	font-style: normal;
	font-weight: 500;
	line-height: 12px;
	align-items: center;
	padding-left: 11px;
}

.navbar-icon__link {
	color: var(---color-white);
	background-image: url('../../../images/IconNavBar2.svg');
	background-position: center;
	width: 26px;
	height: 26px;
	background-color: transparent;
	text-decoration: none;
	background-repeat: no-repeat;
	transition: 0.3s ease-in-out;
	border-radius: 50px;
	background-color: var(--color-grey31);
}