.navbar {
	background-color: var(--color-body);
	position: absolute;
	right: -520px;
	width: 520px;
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 159px 90px 90px;
	transition: right 1.1s;
	flex-shrink: 0;
}

.navbar_opened {
	right: 0;
}

.navbar__content {
	display: flex;
	flex-direction: column;
	list-style: none;
	text-align: center;
	gap: 28px;
	margin: 0;
	padding: 0;
}

.navbar__link {
	color: var(--color-white);
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
	line-height: normal;
}

.navbar_link-active {
	padding-bottom: 4px;
	border-bottom: 2px solid var(--color-white);
}

@media (max-width: 560px) {
	.navbar {
		right: 0;
		width: 320px;
		padding: 144px 0 48px;
	}
}