.register {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.register__label {
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	color: var(--color-grey8B);
}

.register__input {
	background-color: var(--color-grey2F);
	border: none;
	height: 46px;
	border-radius: 8px;
	color: var(--color-white);
	padding: 0 0 0 15px;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 10px;
	margin-bottom: 20px;
}

.register__input:focus {
	letter-spacing: 0;
	border-bottom: 1px solid var(--color-bluebutton);
	font-size: 14px;
	font-weight: 500;
}

.register__input:last-of-type {
	margin-bottom: 20px;
	/*color: var(--color-redbutton)*/
	;
}

.register__error {
	color: var(--color-redbutton);
	font-size: 10px;
}

.register__input_invalid {
	color: var(--color-redbutton);
	border-bottom: 1px solid var(--color-redbutton);
}

.register__input:invalid:focus {
	border-bottom: 1px solid var(--color-redbutton);
}

.register__error_active {
	overflow: hidden;
	height: 24px;
	margin-top: -10px;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: var(--color-redbutton);
	font-size: 10px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.2;
	max-width: 200px;
}

.register__error:last-of-type {
	padding-bottom: 69px;
}

@media (max-width: 320px) {
	.register__error:last-of-type {
		padding-bottom: 157px;
	}
}