.about-me {
	padding-top: 110px;
	color: var(--color-white);
}

.about-me__content {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	padding-top: 66px;
	gap: 49px;
}

.about-me__info {
	display: flex;
	flex-direction: column;
}

.about-me__title {
	margin: 0;
	font-size: 50px;
	font-style: normal;
	font-weight: 400;
	line-height: 58px;
	/* 116% */
	letter-spacing: -2px;
	padding-bottom: 18px;
}

.about-me__subtitle {
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	margin: 0;
	/* 111.111% */
	padding-bottom: 26px;
}

.about-me__description {
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
	max-width: 600px;
	margin: 0;
	/* 157.143% */
}

.about-me__link {
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	text-decoration: none;
	color: var(--color-white);
	padding-top: 99px;
	margin: 0;
}


.about-me__link:hover {
	opacity: var(--opacity-links);
	transition: var(--opacity-smoothness);
}

.about-me__image {
	max-width: 270px;
	height: 327px;
	display: flex;
	flex-direction: row;
	border-radius: 10px;
}

@media (max-width: 768px) {
	.about-me {
		padding-top: 90px;
		padding-left: 50px;
		padding-right: 50px;
	}

	.about-me__title {
		font-size: 40px;
		font-weight: 400;
		line-height: 40px;
		/* 100% */
		letter-spacing: -1.6px;
		padding-bottom: 16px;
	}

	.about-me__subtitle {
		font-size: 12px;
		line-height: 18px;
		/* 150% */
		padding-bottom: 20px;
	}

	.about-me__description {
		font-size: 12px;
		font-weight: 400;
		line-height: 18px;
		/* 150% */
		max-width: 364px;
	}

	.about-me__image {
		max-width: 255px;
		height: 307px;
	}

	.about-me__link {
		margin-bottom: 0;
		margin-top: auto;
		padding-top: 87px;
	}
}

@media (max-width: 748px) {

	.about-me__image {
		object-fit: cover;
		object-position: center;
		max-width: 292px;
		height: 352px;
	}

	.about-me__content {
		flex-direction: column-reverse;
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding-top: 60px;
		align-content: center;
		flex-wrap: wrap;
	}

	.about-me {
		padding: 70px 14px;
	}

	.about-me__info {
		padding-top: 40px;
	}

	.about-me__title {
		padding-bottom: 20px;
		font-size: 30px;
	}

	.about-me__subtitle {
		font-size: 11px;
		line-height: 16px;
		/* 145.455% */
	}

	.about-me__description {
		font-size: 11px;
		line-height: 16px;
		/* 145.455% */
	}

	.about-me__link {
		padding-top: 40px;
	}
}

@media (max-width: 320px) {
	.about-me__content {
		gap: 0;
	}

	.about-me__subtitle {
		line-height: 13px;
	}
}