.login {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.login__label {
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	color: var(--color-grey8B);
}

.login__input {
	background-color: var(--color-grey2F);
	border: none;
	height: 46px;
	border-radius: 8px;
	color: var(--color-white);
	padding: 0 0 0 15px;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 10px;
	margin-bottom: 20px;
}


.login__input_invalid {
	color: var(--color-redbutton);
	border-bottom: 1px solid var(--color-redbutton);
}

/*login__input:last-of-type {
	margin-bottom: 179px;
}*/


.login__error {
	color: var(--color-redbutton);
	font-size: 10px;
}

.login__error:last-of-type {
	padding-bottom: 157px;
}

.login__error_active {
	overflow: hidden;
	color: var(--color-redbutton);
	font-size: 10px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.2;
	margin-top: -10px;
	margin-bottom: 10px;
	max-width: 256px;
}

@media (max-width: 320px) {
	.login__error:last-of-type {
		padding-bottom: 247px;
	}
}